body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.intro{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 25%;
}

#aboutAuthor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    
}

.title{
    color: white;
    font-size: 2.2em; 
    font-weight: 600;
    margin: 0% 0% 0% 0%;
}

#position{
    font-size: 1.8em;
    font-weight: 600;
    padding: 0% 1%;
    margin: 0.5% 0% 2% 0%;
   
}

#tagline{
    color:white;
    margin: 0% 2% 0% 15%;
    font-size: 1.2em;
}

#imageAuthor{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 40%;
}

.img{
    max-width: 100%;
    height: auto;
}

.content{
    display: flex;
    flex-wrap: wrap;
    height: 60%;
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#description{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 60%;
}

h2{
    align-self: flex-start;
    margin: 5% 0% 0% 0%; 
    padding: 0% 3%;
}

.diffBackground{
    background-color: yellow;
    color:#268DF0 !important ;
}

.text{
    margin: 2% 3% 2% 3%;
}

ul{
    align-self: flex-start;
    margin-top: 0%;
}

footer{
    background-color:#268DF0 ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    height: 15%;
}

#contact1{
    margin: 4% 0% 0% 10%;
}

#contact2{
    display: flex;
    font-size: 1.4em;
    color: white;
    margin: 1% 0% 0% 10%;
}

@media screen and (min-device-width: 480px)  {
    .mobile-break { display: none; }
}

#logos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0% 0% 1% 10%;
}

.logo{
    max-width: 100%;
    height: 100%;
    margin:0% 2% 0% 0%;
    background-color: blue;
}

@media all and (max-device-width: 480px){
    body{
        font-size: 3em;
    }

    .intro{
        flex-direction: column;
    }

    #imageAuthor{
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }

    #aboutAuthor{
        width: 100%;
    }

    .content{
        flex-direction: column-reverse;
    }

    #icon{
        width: 100%;
    }

    #description{
        width: 100%;
        margin:0% 3% 2% 3%;
    }

    h2{
        align-self: center;
    }

    #contact2{
        display:flex;
        flex-direction: column;
    }
}
